/*
 * Global
 */
body {
    background-color: #eeeeec;
    color: #2c2c2c;
    text-align: justify;
}
h3 {
    margin-bottom: 9px;
    color: #0088AA;
}
h4 {
    margin-bottom: 6px;
}
section {
    margin-bottom: 30px;
}
.btn-primary {
    background-image: none;
    background-color: #0088AA;
}
.btn-primary:hover {
    background-color: #0077AA;
}
pre {
    overflow: auto;
    white-space: pre;
}


/*
 * Header
 */
header {
    background-color: #ffffff;
    color: #ffffff;
}
header .container {
    padding: 10px 0 10px 0;
}
header a {
    color: #ffffff;
}
header a:hover {
    color: #ffffff;
}


/*
 * Footer
 */
footer {
    font-size: 0.9em;
}
footer .container {
    margin-top: 30px;
    border-top: 1px solid #333333;
}
footer p {
    text-align: center;
}


/*
 * Navigation bar
 */
nav {
    background-color: #333333;
    border: 2px solid #333333;
}
nav a {
    display: block;
    height: 100%;
    padding: 8px 0 8px 0;
    color: #F0F0F0;
    font-size: 1.2em;
    line-height: 0.9;
}
nav a.active,
nav a:hover {
    background-color: #0088AA;
    text-decoration: none;
    color: #F0F0F0;
}

#nav-laurent {
    background-image: url('../img/icon-laurent.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 45px;
}
#nav-projects {
    background-image: url('../img/icon-projects.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 45px;
}
#nav-contact {
    background-image: url('../img/icon-contact.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 45px;
}
#nav-blog {
    background-image: url('../img/icon-blog.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 45px;
}
#nav-code {
    background-image: url('../img/icon-code.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 45px;
}


/*
 * Page content
 */
.content {
    padding-top: 30px;
}
.content .container {
    background-color: #eeeeec;
}


/*
 * Section: presentation
 */
#presentation {
    background-color: #FFFFFF;
    border: 2px solid #333333;
    border-radius: 4px;
    padding: 10px;
}
#presentation img {
    border: 2px solid #402817;
    border-radius: 4px;
    float: right;
    margin: 10px 10px 10px 20px;
}
#presentation h1 {
    font-size: 2em;
    display: inline;
    font-weight: normal;
}

#presentation h2 {
    font-size: 1.6em;
    display: inline;
    font-weight: normal;
}
#presentation p {
    font-size: 1.2em;
}
#presentation .btn {
    margin-top: 5px;
}

/*
 * Articles
 */
section p.screenshots {
    text-align: left;
    margin-left: 25px;
}
section a > img:hover {
    border: 1px solid #004B5E;
}
section a > img {
    margin-bottom: 4px;
    border: 1px solid #0088AA;
}
section em {
    font-weight: bold;
}
section p.readmore {
    text-align: right;
}
section span.center {
    display: block;
    text-align: center;
}

/*
 * Contact
 */
.contactme {
    text-align: center;
    margin: 20px;
}

/*
 * Noise
 */
header,
nav,
nav a.active,
nav a:hover,
#presentation,
.noise {
    position: relative;
    z-index: 1;
}
header:before,
nav:before,
nav a.active:before,
nav a:hover:before,
#presentation:before,
.noise:before {
    content: "";
    position: absolute;
    z-index: -1;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-image: url('../img/noise_2x.png');
}
body.noise:before {
    position: fixed;
}
