<article id="{{ article.path }}" class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <link href="{{ url_for('page', path=article.path) }}" itemprop="url">

  <header class="article-header">
    <h2><a href="{{ url_for('page', path=article.path) }}">
      <span itemprop="name">{{ article.title }}</span>
    </a></h2>
  </header>

  <aside class="article-meta">
    <time datetime="{{ article.published_date|dateformat('%Y-%m-%d') }}" itemprop="datePublished">
      {{ article.published_date|dateformat('%Y-%m-%d') }}
    </time>
    {% if article.tags %}
      &dash;
      {% for tag in article.tags|sort %}
        <a href="{{ url_for('show_tag', tag=tag) }}" itemprop="genre">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  </aside>

  <section class="article-summary" itemprop="description">
   {% if article.summary %}
    {{ article.summary }}
   {% else %}
    {{ article.html|summarize|safe }}
   {% endif %}
  </section>

  <hr>
</article>
