<article id="{{ article.path }}" class="article" itemscope itemtype="http://schema.org/BlogPosting">
  <link href="{{ url_for('page', path=article.path) }}" itemprop="url">

  <header class="article-header">
    <h2 itemprop="name">{{ article.title }}</h2>
  </header>

  <aside class="article-meta">
    <p>
      <span class="article-author" itemscope itemtype="http://schema.org/Person" itemprop="author">
        <span itemprop="name">Laurent Meunier</span>
      </span>
      posté le
      <time class="article-date" itemprop="datePublished" datetime="{{ article.published_date|dateformat('%Y-%m-%d') }}">
        {{ article.published_date|dateformat('%d %B %Y') }}
      </time>
      {% if article.tags %}
        , dans {% if article.tags|length > 1 %}les catégories{% else %}la catégorie{% endif %}
        {% for tag in article.tags|sort %}
          {% if loop.last and not loop.first %} et {% endif %}
          <a href="{{ url_for('show_tag', tag=tag) }}" itemprop="genre">{{ tag }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </aside>

  <section class="article-content" itemprop="articleBody">
    {{ article }}
  </section>

  <hr>
</article>
