<section id="{{ article.path }}">
 <a href="{{ url_for('page', path=article.path) }}"><h2>{{ article.title }}</h2></a>

 <div class="row">

  <div class="span2">
   <p class="published_date"><i class="icon-calendar"></i> {{ article.published_date|dateformat('%B %Y') }}</p>

   {% if article.tags %}
    <p class="tags"><i class="icon-tags"></i>
    {% for tag in article.tags|sort %}
      <a href="{{ url_for('show_tag', tag=tag) }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    </p>
   {% endif %}
  </div>

  <div class="span6">
    {{ article }}
  </div>

  <div class="span4">
   {% if article.links %}
   <h4>Liens</h4>
   <ul class="links">
    {% for link in article.links %}
    <li><a href="{{ link.href }}" alt="Link to {{ name }}">
       {{ link.name }}
     </a></li>
    {% endfor %}
   </ul>
   {% endif %}
   {% if article.attachments %}
   <h4>Fichiers</h4>
   <ul class="attachments">
    {% for file in article.attachments %}
    <li><a href="{{ url_for('static', filename=file) }}" alt="Download file {{ file }}">
       {{ file }}
     </a></li>
    {% endfor %}
   </ul>
   {% endif %}
   {% if article.screenshots %}
   <h4>Screenshots</h4>
   <p class="screenshots">
    {% for screenshot in article.screenshots %}
     <a href="{{ url_for('static', filename='img/' + screenshot) }}" alt="Screenshot {{ loop.index }}">
      <img src="{{ url_for('static', filename='img/thumb-' + screenshot) }}">
     </a>
    {% endfor %}
   </p>
   {% endif %}
  </div>

 </div> <!-- row -->

</section>
