{% extends "base.html" %}

{% block content %}
<div class="row">
 <div class="span2">&nbsp;</div>
 <div class="span8">
  <section id="presentation">
   <img src="{{ url_for('static', filename='img/laurent.png') }}" title="Photo de Laurent">
   <h1>Bonjour, je m'appelle Laurent.</h1>
   <h2>Je suis freelance. Je développe des applications, j'administre des serveurs.</h2>
   <p>Je suis un geek, libre et attaché à son indépendance. Linux et les logiciels libres me suivent depuis plus de 10 ans, et je les utilise avec toujours autant de plaisir. Découvrir, tester, sortir des sentiers battus ... je suis toujours impressionné par cet incroyable écosystème.</p>
<p>
 <a class="btn btn-primary btn-large" href="mailto:laurent@deltalima.net">Vous partagez mes idées. Parlons-en !</a>
</p>
  </section>
 </div>
</div>

<div class="row">
 <div class="span6">
  <section class="description">
   <h3>Développement</h3>
   <p><em>Je développe des applications.</em> Vous avez une idée ou un projet, vous souhaitez être accompagné pour les réaliser. Je suis là pour vous aider.</p>
   <p>Je connais Internet et le web, leurs principes de fonctionnements, leurs fondements. Nous choisirons ensemble les meilleurs solutions, adaptées à vos besoins. Je serai force de propositions. En constante veille technologique, je n'hésite pas à tester, expérimenter les nouveaux outils pour ne garder que le meilleur.</p>
   <p>J'utilise couramment des frameworks web comme <a href="http://www.djangoproject.com/">Django</a> ou <a href="http://flask.pocoo.org/">Flask</a>, couplés à des blibliothèques Javascript tel que <a href="http://jquery.com/">jQuery</a>. Je suis soucieux du détail et attache une importance particulière à l'interface utilisateur pour rendre celle-ci la plus efficace possible.</p>
  </section>
 </div>

 <div class="span6">
  <section class="description">
   <h3>Administration système</h3>
   <p><em>Je gère des serveurs Linux.</em> Proposer un service aux utilisateurs, ce n'est pas juste installer et configurer une application, c'est également un travail quotidien nécessaire pour assurer un bon fonctionnement et bonne une disponibilité. De l'infogérence complète à l'intervention ponctuelle, je peux vous proposer mes services pour l'administration de vos serveurs : installation, mise à jour, sécurité, supervision, backup, etc.</p>
   <ul><li>systèmes <a href="http://www.debian.org">Debian</a> et <a href="http://www.redhat.com">RedHat</a>, mais également tous OS basés sur GNU/Linux</li><li>serveurs physiques ou virtuels (Xen, KVM, VMware)</li><li>hébergés dans vos locaux ou en datacenter</li></ul></p>
  </section>
 </div>
</div>

<div class="row">
 <div class="span6">
  <section class="description">
   <h3>Intégration</h3>
   <p><em>Conseils et expériences.</em> Votre besoin ne nécessite pas le développement d'une application dédiée. Vous souhaitez réutiliser un outil existant pour minimiser les coûts et les délais. Je peux vous assister dans le choix du meilleurs outil, son éventuelle adaptation à votre métier et son intégration dans votre système d'information.</p>
  </section>
 </div>

 <div class="span6">
  <section class="description">
   <h3>Formation professionnelle</h3>
   <p><em>J'aime partager mes connaissances.</em> Vous aimez être autonome pour gérer votre SI, moi aussi. Un bon logiciel et une bonne architecture technique c'est un bon début, mais il est nécessaire de les connaitre, de savoir comment ils fonctionnent et se configurent pour en obtenir le maximum et pouvoir réagir rapidement et correctement en cas de problème.</p>
   <p>Je peux vous apporter mes connaissances et mes expériences pour vous permettre de monter en compétences rapidement et efficacement. Une formation est avant tout un moment d'échanges, sur les bonnes pratiques, les choix à prendre ou à éviter. Les formation sont toujours personnalisées et adaptées aux personnes présentes, que ce soit en par rapport au niveau technique ou à la finalité de la formation.</p>
  </section>
 </div>
</div>

<p class="contactme">
 <a class="btn btn-primary btn-large" href="mailto:laurent@deltalima.net">Mes services vous intéressent. Contactez-moi !</a>
</p>

{% endblock content %}
